# ?????? ?????? ???? ??????? (?????? ? ????????????? ????????????) ? ??? ??????????????? ??????
# ????????: pip install -r requirements.txt --upgrade, ?????????, ????? pip freeze
altgraph==0.17.5
bottle==0.13.4
cffi==2.1.1
clr_loader==0.3.1
colorama==0.4.6
iniconfig==2.3.1
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pluggy==1.6.0
proxy_tools==0.1.0
psutil==7.2.2
pycparser==3.0
Pygments==2.21.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.8
pystray==0.19.5
pytest==9.1.1
pythonnet==3.2.0
pywebview==6.2.1
pywin32-ctypes==0.2.3
six==1.17.0
typing_extensions==4.16.0
